@using CustomerOrdersProject.Models
@model CustomerOrderViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Müşteri ve Siparişler</title>
</head>
<body>
    <h1>Müşteri Bilgileri</h1>
    <p><strong>ID:</strong> @Model.Customer.Id</p>
    <p><strong>Ad:</strong> @Model.Customer.FirstName</p>
    <p><strong>Soyad:</strong> @Model.Customer.LastName</p>
    <p><strong>Email:</strong> @Model.Customer.Email</p>

    <h2>Siparişler</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Miktar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.ProductName</td>
                    <td>@order.Price</td>
                    <td>@order.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
